@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* background-color: rgba(211, 211, 211, 0.418); */
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    background-size: cover;
    /* overflow: hidden; */
}
.Section_1{
    width: 45%;
    min-height: 100vh;
    background-color: #fff;
}

/* FIRST SECTION FIRST LIST */

.Smiley_1{
    padding: 20px;
    display: flex;
    gap: 10px;
}
.Smiley_1 i{
    font-size: 35px;
    color: green;
}
.Smiley_1 h1{
    font-size: 20px;
    color: rgba(65, 206, 65, 0.452);
    padding-top: 10px;
}

.LST_1{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_1 i{
    font-size: 18px;
}
.LST_1 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}

.LST_2{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_2 i{
    font-size: 18px;
}
.LST_2 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}

.LST_3{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_3 i{
    font-size: 18px;

}
.LST_3 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}

.LST_4{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_4 i{
    font-size: 18px;
}
.LST_4 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}


/* FIRST SECCTION SECND LIST */

.Smiley_2{
    padding: 15px;
    margin-bottom: 30px;
    
}

.Smiley_2 h1{
    font-size: 30px;
    padding-top: 10px;
}

.LST_11{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_11 i{
    font-size: 18px;
}
.LST_11 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}

.LST_12{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_12 i{
    font-size: 18px;
}
.LST_12 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}

.LST_13{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_13 i{
    font-size: 18px;

}
.LST_13 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}

.LST_14{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_14 i{
    font-size: 18px;
}
.LST_14 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
}

.LST_15{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.LST_15 i{
    font-size: 18px;
}
.LST_15 h1{
    font-weight: 800;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 40px;
}

 /* FIRST SECTION BOX */
 .Section_1 .Box{
    margin-left: 10px;
    align-items: center;
    width: 130px;
    height: 180px;
    background-color: rgb(49, 175, 70);

 }
 .Section_1 .Box i{
    background-color: #fff;  
    padding: 10px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: -15px;
    padding-top: -20px;
    color: green;
    margin-bottom: 15px;

 }
 .Section_1 .Box h1{
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
 }
 .Section_1 .Box p{
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;


 }
.Section_1 .Box button{
    background-color: #fff;
    height: 30px;
    width: 110px;
    align-self: center;
    margin-left: 15px;
    border: none;

}

/* SECTION 2 */
.Section_2{
    display: flex;
    min-width: 100%;
    background-color: rgba(211, 211, 211, 0.418);
}

.Section_2 .header{
    display: flex;
    padding: 20px;
    gap: 30px;

}

.Section_2 .head_1{

}
.Section_2 .head_1 h1{
    font-size: 20px;
}